extends estilos

block content
  head
    script(src='../javascripts/descargas.js')
  include navUserAuth
  
  div(class="" id="" style="margin-bottom: 50px; background-color: darkslategray;")
    div(class="container")
      div(class="jumbotron" style="margin-bottom: 0px; background-color: darkslategray; color: white;")
        h1 Guía para autores
          p(class="lead") Para todos los usuarios que deseen contribuir en la publicación de artículos es necesario que utilicen los siguientes formatos.
  
  div(class="" id="" style="margin-bottom: 50px;")
      div(class="container")
        div(class="row")
          div(class="col-md-6 col-md-offset-3" style="margin-bottom: 50px; text-align: center;")
            h1 Interesados en enviar artículos
        
        
        p(class="lead") A todos los usuarios que deseen participar en nuestro boletín mediante el envío de artículos para su publicación es importante que utilicen los siguientes formatos. Esto es con el fin de mantener una homogeneidad en la presentación de todos los artículos.</p>
        
        div(class="row")
          div(class="col-md-4 col-md-offset-4" style="text-align: center;")
            a(href="" class="lead")
              span(class="glyphicon glyphicon-book") 
              p Leer condiciones para envío
              
  div(class="" id="")
      div(class="container")
        
        div(class="row" style="margin-bottom: 50px;")
          div(class="col-md-7" style="background-color: darkslategray; color: white;")
            h1(class="display-1") Plantilla para hoja electrónica</h1>
            p(class="lead") En esta sección se encuentra la plantilla para la presentación de propuestas de artículos. Este tipo de plantilla corresponde a las hojas electrónicas con extensión .docx ...
          
          div(class="col-md-3 col-md-offset-1")
            p(style="margin-top: 70px;")
            button(type='button' class="descargar_plantilla_doc")
              p(class="lead") Descargar plantilla 
                span(class="glyphicon glyphicon-download") 
          
        br
        br
        
        div(class="row" style="margin-bottom: 50px;")
          div(class="col-md-3 col-md-offset-1")
            p(style="margin-top: 70px;")
            a(href="#" class="descargar_plantilla_latex")
              p(class="lead") Descargar plantilla 
                span(class="glyphicon glyphicon-download")

          div(class="col-md-7" style="background-color: darkslategray; color: white;")
            h1(class="display-3") Plantilla para LaTeX
            p(class="lead") En esta sección se encuentra la plantilla para la presentación de propuestas de artívulos. Este tipo de plantilla corresponde a los documentos con extensiones .pdf
        