include templates/estilos

block content
  include templates/navUserAuth
  body
    .container
      h1 Editar Perfil
      |  &#x9;
      hr
      |  &#x9;
      .row
        .col-md-3
          .text-center
            img.avatar.img-circle(src='https://d30y9cdsu7xlg0.cloudfront.net/png/404950-200.png', alt='avatar')

            h6 Cambiar foto

            input.form-control(type='file')

        .col-md-9.personal-info
          h3 Informacion personal

          form.form-horizontal(role='form' method="POST" action="http://localhost:3000/mi-usuario" )
            label.col-lg-3.control-label Email:

            .col-lg-8
              input.form-control(type='text' placeholder='Cambiar correo...' name='correo')

            label.col-md-3.control-label Nombre de usuario:

            .col-md-8
              input.form-control(type='text' placeholder='Cambiar usuario...' name="username")

            label.col-md-3.control-label Contrase&ntilde;a:

            .col-md-8
              input.form-control(type='password' placeholder='Contraseña nueva...' name="password")

            label.col-md-3.control-label Confirmar contrase&ntilde;a:

            .col-md-8
              input.form-control(type='password' placeholder="Confirmar contraseña..." name="verifiedPassword")

            label.col-md-3.control-label

            .col-md-8
              input.btn.btn-primary( value='Guardar Cambios' type='submit' )

              span

              input.btn.btn-default(value='Cancelar', type='reset')

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
