include templates/estilos

block content
  
  include templates/navUserAuth
  if userNotAvailable
    div(class='alert alert-danger' role='alert')=userNotAvailable
  body
    .container
      h1 Editar Perfil
      |  &#x9;
      hr
      |  &#x9;
      .row
        //.col-md-3
          .text-center
            img.avatar.img-circle(src='https://d30y9cdsu7xlg0.cloudfront.net/png/404950-200.png', alt='avatar')

            h6 Cambiar foto

            input.form-control(type='file' name="imagen")

        .col-md-8.personal-info.col-md-offset-2
          h3 Información personal

          form.form-horizontal(role='form' method="POST" action="http://localhost:3000/mi-usuario" name='form')
            .accounttype
            
            .form-group(align='center')
              label(for='email') Nombre de usuario:

              input#nombreUsuario.form-control(type='text', name='usrName', placeholder='Cambiar usuario, mayor a 5 caracteres...', required='' onkeyup='validar(this)')

            .form-group(align='center')
              label(for='email') Correo electronico:

              input#email.form-control(type='email', name='email', placeholder='correo@ejemplo.com', required='')

            .form-group(align='center')
              label(for='email') Contrase&ntilde;a:

              input#pass1.form-control(type='password', onkeyup='validar(this)', name='usrPass', placeholder='Mayor a 6 caracteres', required='')

            .form-group(align='center')
              label Confirmar contrase&ntilde;a:


              input#pass2.form-control(type='password', onkeyup='validar(this)', name='usrPassVer', required='')


              span#state.glyphicon.glyphicon-alert.pull-right

            div(align='center')
              
              input.btn.btn-primary( id='but-registro' class="btn btn-default" value='Guardar Cambios' type='submit' )

              span

              input.btn.btn-default(value='Cancelar', type='reset')
    script(src='javascripts/editar_perfil.js')

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
