<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Josesito</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<head>
  <title> Enviar Propuesta </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
  <div class="jumbotron box">
    <h2 class="text-center">Enviar propuesta</h2>
    <form enctype="multipart/form-data" action="" method="POST" name="upFile" id="upFile">
      <label>Nombre:</label>
      <input type="text" name="nombre" id="user" class="form-control" placeholder="Nombre..." required>
      <br>
      <label>Resumen:</label>
      <textarea name="descripcion" rows="10" cols="87">Escribe aquí tus comentarios...</textarea>
      <input name="uploadedfile" type="file" />
      <br>
      <div align="center">
        <input class ="btn btn-primary" type="submit" value="Subir archivo" />
      </div>
    </form>
  </div>
</body>
  
  
</body>
</html>
