extends templates/estilos

block content
  include templates/navUserAuth
    
    
  body
    
    div(class="container")
      div(class="col-md-6 col-md-offset-3")
        h1(style="text-align:center;") Envio de propuestas
        form(action="/upload-files" method='POST' enctype="multipart/form-data" id="enviar_propuesta")
          
          div(class='form-group')
            label(for="title") Titulo
            input(type="text" name="titulo" placeholder="Titulo..." id="title" class="form-control" required)
          div(class='form-group')
            label(for="descripcion") Descripcion
            //input(type="text" name="descripcion" placeholder="Descripcion..." id="descripcion" class="form-control")
            textarea(class="form-control" rows="5" id="descip" placeholder="Descripcion del boletin" name="descripcion" required)
          div
            label(for="archivo") Archivo
            input(type="file" name="file" id="archivo" style="padding-bottom:15px;")
          div(class="row top-space")
            div(class="col-xs-12 col-sm6")
              input(type="submit" value="Enviar" class="btn btn-info")
