doctype html
html
  head
    if message.length>0
      div(class='alert alert-success' role='alert')=message
    title  Login
    | &#x9;&#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;&#x9;
    meta(http-equiv='Content-Type', content='text/html charset=UTF-8')
    |     &#x9;
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    | &#x9;&#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    | &#x9;&#x9;
    if authmessage.length>0
      div(class='alert alert-danger' role='alert')=authmessage
    style.
      html{
      margin: 0px;
      padding: 0px;
      }
      .loginbox{
      border-radius: 15px;
      margin: 50px auto;
      width: 320px;
      }
      button[type="submit"]{
      margin-top: 10px;
      margin-left: 150px;
      }
      form{
      margin: 35px;
      }
  | &#x9;
  body

    .jumbotron.loginbox
      h2.text-center Inicio
      | &#x9;&#x9;&#x9;
      form(action='http://localhost:3000/auth-login' method='post' name='flogin')
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          |           &#x9;&#x9;&#x9;
          input#user.form-control(type='text', name='username', placeholder='Usuario', required='')
        |         &#x9;&#x9;
        br
        |         &#x9;&#x9;
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          |           &#x9;&#x9;&#x9;
          input#pass.form-control(type='password', name='password', placeholder='Contraseña', required='')
        | &#x9;&#x9;&#x9;&#x9;
        button(type="submit" class='btn btn-default')  Iniciar sesion
