#agregar{
  color: black;
}

#editar{
  color: black;
}

#f1{
  color: black;
}

#f2{
  color: black;
}
#scroll{
    position : relative;
    left
    width: 350px;
    height: 80px;
    overflow-x: auto;
}

#eliminar_articulo{
  color: black;
  position: relative;
  left: 10px;
}

.